@import "tailwindcss";

@theme {
  --color-brand-50: #f2fcf5;
  --color-brand-100: #e1f8e8;
  --color-brand-200: #c4efd4;
  --color-brand-300: #93dec1;
  --color-brand-400: #5ac5a8;
  --color-brand-500: #34a88f;
  --color-brand-600: #258673;
  --color-brand-700: #206b5e;
  --color-brand-800: #1d564d;
  --color-brand-900: #194741;
  --color-brand-950: #0d2724;

  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
}

:root {
  --bg: #fbfbf9;
  --fg: #1e293b;
  --card-bg: #ffffff;
  --card-border: #f1f5f9;
}

.dark {
  --bg: #0f172a;
  --fg: #e2e8f0;
  --card-bg: #1e293b;
  --card-border: #334155;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
